.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogItems {
    margin: 20px 0px 20px 20px;
    line-height: 30px;
}

.dialogItems a {
    color: white;
    text-decoration: none;
}

.messages {
    display: grid;
    grid-template-rows: 2fr;
    margin: 20px;
    padding: 10px;
    color: black;
    font-size: 13px;
    line-height: 20px;
    background-color: #c2c2c2;
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.messageItems {
    /*height: 300px;*/
    /*overflow-y: scroll;*/
}

.messageInputSend {
    margin: 20px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.messageGrid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.messageTextarea {
    width: 100%;
}

.messageTextarea textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}

.messageButton {
    /*margin: 0px 0px 0px 15px;*/
}

.messageButton button {
    font-family: 'Montserrat', sans-serif;
    background-color: #8500BA;
    color: white;
    /*width: 70px;*/
    /*height: 25px;*/
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    width: 100%;
    height: 42px;
}